<ion-header>
    <ion-toolbar color="danger">
        <ion-buttons slot="start">
            <ion-button icon-only (click)="goBackToCategories()">
                <ion-icon icon-only name="arrow-round-back"></ion-icon>
            </ion-button>
          </ion-buttons>
      <ion-title>{{Name}}</ion-title>
      <ion-buttons slot="end">
        <ion-button>
          <ion-icon slot="icon-only" name="notifications"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="search"></ion-icon>
        </ion-button>
        <ion-button>
          <ion-icon slot="icon-only" name="more"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content padding>
    <h4>{{Name}}</h4>
  <ion-list>
      <ion-item>
        <ion-label>
          <h2>Category Type</h2>
          <h3>{{checkType(Type)}}</h3>
        </ion-label>
      </ion-item>
    </ion-list>
    <ion-row>
      <ion-col>
        <ion-button size="full" color="secondary" (click)="editCategory()">Edit</ion-button>
      </ion-col>
      <!--
      <ion-col>
        <ion-button size="full" color="danger" (click)="deleteCategory()">Delete</ion-button>
      </ion-col>-->
    </ion-row>
  </ion-content>
